
*{
	margin: 0;
	padding:0;

}

#container {
	height: 450px;
	width: 650px;
	margin: 20px auto;
	position:relative;
	
}

.frame_images{
	height: 450px;
	width: 650px;
	position: absolute;
	
}
#images {
	width: 650px;
	height: 450px;
	position: absolute;
	border: 4px solid black;
	border-radius: 8px;
}

#left_holder {
	height: 450px;
	width: 100px;
	position: absolute;
	left: -100px;
	top: 0px;
}

#right_holder {
	height: 450px;
	width: 100px;
	position: absolute;
	right: -100px;
	top: 0px;
}
.left {
	height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    left: -55px;	
}

.right {
	height: 50px;
    width: 50px;
    position: absolute;
    top: 40%;
    right: -55px;	
}

#footer {
	margin: 0 auto;
	text-align :center;
}

.imagesFooter {
	text-align :center;
	width: 60px;
	height: 40px;
	border: 2px solid black;
	border-radius: 8px;
}
.active, .imagesFooter:hover {
	width: 80px;
	height: 50px;
}

