
.body{
 
}

h5{
  font-size: 11px;
  color: white;
} 

*{
  margin: 0px;
  padding: 0px;

}

#container{
  font-family:  arial;
  margin: auto;
  padding: 20px 0px 50px  50px;
  width:800px;
  background: #121214;
  color: #797782;
  font-size: 0.6875em;
 
}

#main{
    height: 450px;

}

.inf_left{
  width: 400px;
  float: left;
  margin-top: 30px;
  margin-right: 20px;
  
}

.title_left{
  margin-bottom: 20px;  
}
 .inf_group h5{
  margin-bottom: 30px;
  
}

.inf_left1{
  height: 100px;
  width: 400px;
}

.inf_left1 img{
  width: 100px;
  height: 80px;
  float: left;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid while;
} 
 .inf_group{
  height: 100px;
  width: 260px;
  float: right;
  margin-right: 10px;
}

.inf_group p{
  text-align: left;
}
.inf_group h5{
  margin-bottom: 15px;
   
}

.inf_left2{
  height: 100px;
   margin-bottom: 20px;

}

.frames_p{  
  margin-bottom: 10px;
}

.inf_left_p2{
  margin-left: 10px;
  padding-bottom: 10px;
  width:400px;
  border-bottom: 1px dotted white ;
}

.img_more{
  text-decoration: none;
  color: white;
  margin-left:10px;

}
a.img_more:before {
  content: url(images/info.gif);
  margin-right: 4px;
  margin-top: 10px; 
}
.inf_right{
  margin-right: 120px;
  float: right;
  height: 400px;
  
}

.inf_left3{
  margin-left: 10px;
}

.title{
  margin-bottom: 20px;
}

.list_inf{
  overflow: auto;
  width: 400px;
  border-bottom: 1px dotted white ;
  padding-bottom: 20px;
 
}

ul{
 list-style: none;
}

li a{
   color: #9494a0;
}

/* vẽ dấu tam giác css */
li:before {
   content: "";
    border-color: rgba(107, 76, 76, 0) #838080;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;

}

.list_inf_right{
  float: left;
  width: 180px;
}

.list_inf_left{
  margin-left: 10px;
  float: left;
  width: 180px;
      
}

.img_more1{
  text-decoration: none;
  color: white;
}
a.img_more1:before {
   content: url(images/info.gif);
   margin-right: 4px;
   margin-top: 10px; 
}

.img_e_inf{ 
    width: 200px;
    height: 330px;
    background: #232227;
    border: 1px solid #232227; 
    padding: 12px;
}

.img_e_inf img { 
  width: 160px;
  height: 80px;
 border-top: 1px dotted white ;  
  margin: 80px 10px 10px 20px;
  padding-top: 20px;
 
}

.note_p{
   color: white;
}

.inf_img_right{
  margin-left: 10px;
  margin-bottom: 30px;
  width: 170px;
  height: 70px;
}
.inf_img_right h5{
  margin-bottom: 5px;

}