*{  
    margin: 0px;
	padding: 0px;
	
}

td {

	width: 55px;
	height: 20px;
	border: 1px solid #fff;
	border-radius: 8px;
	font-size: 14px;
}
#calendar .btn {
	border: 1px solid #909497;
	font-size: 15px;
	text-align: center;
	color: #2E86C1;
	background: #A9CCE3;
	cursor: pointer;
}

select {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.item:hover {
	cursor: pointer;
}

#title {
	color: red;
	background: #bebebe;
	font-weight: bold;
	font-size: 25px;
}

#calendar {
	overflow: auto;
}

#calendarIn {
	position: relative;
	width: 200px;
	height: 30px;
	margin: 10px;

}

#calendarIn input {
 	width: 100%;
 	height: 100%;
 	padding-left: 10px;
 	font-weight: bold;
	border-radius: 8px;
	border: 1px solid black;
}

#calendarIn img {
	position: absolute;
	right: 5px;
	top: 5%;
	height: 90%;
}