body {
    width: 500px;
    padding: 0px;
    margin: 0px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.khung_thongtin {
    width: 500px;
    border: 1px solid #0033FF;
    margin-left: 20px;
    margin-top: 20px;
}
.title {
    margin-top: 5px;
    width: 500px;
    background: url(images/title_bg.gif) repeat-x;
}
.tt_player {
    width: 500px;
    padding-bottom: 10px;
}
.thongtin {
    width: 500px;
    heigth: 100px;
    margin-bottom: 15px;
}
.avatar {
    width: 100px;
    float: left;
    margin-rigth:
}
.avatar img {
    width: 100px;
    height: 90px;
    margin-right: 20px;
}
.thongtincanhan {
    height: 100px;
    overflow: scroll;
}
.thongtincanhan p {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 5px;
}
.tt_fact {
    margin-left: -10px;
}
.tt_fact ul {
    list-style-type: none;
    margin-bottom: 40px;
}
.tt_fact ul li:before {
    content: url(images/star.gif);
    margin-right: 4px;
    text-decoration: none;
}
.tt_fact li a {
    text-decoration: none;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
}
.achievenments {
    position: relative;
    background: #ECECEC;
    padding: 5px 5px 0 5px;
    margin-bottom: 2px;
}
.achievenments:after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-top: 15px solid #ECECEC;
    top: 100%;
    left: 5%;
}
.link {
    margin-left: 60px;
}
.link a {
    text-decoration: none;
}
.ttcomment {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 5px;
}
.your-comment {
    margin-left: 5px;
}